<!DOCTYPE html>
<html>
  <head>
    <style>
      table, th, td {
  border: 1px solid black;
}
      </style>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome User on Shoping Page</h1>
    <p>Welcome to shopiing cart: please select item to buy</p>
    <table>
      <tr>
        <th>ITEMS</th>
        <!--<th>ADD ITEM</th>-->
        <th>BUY ITEM</th>
      </tr>
      <tr>
        <td>ITEM1</td>
        <!--<td>ADD</td>-->
        <td><a href="/invoice/ITEM1/500">BUY</a></td>
      </tr>
      <tr>
        <td>ITEM2</td>
        <!--<td>ADD</td>-->
        <td><a href="/invoice/ITEM2/1000">BUY</a></td>
      </tr>
      <tr>
        <td>ITEM3</td>
        <!--<td>ADD</td>-->
        <td><a href="/invoice/ITEM3/1500">BUY</a></td>
      </tr>
      <tr>
        <td>ITEM4</td>
        <!--<td>ADD</td>-->
        <td><a href="/invoice/ITEM4/2000">BUY</a></td>
      </tr>
      <tr>
        <td>ITEM5</td>
        <!--<td>ADD</td>-->
        <td><a href="/invoice/ITEM5/5000">BUY</a></td>
      </tr>
    </table>
  </body>
</html>
