<!DOCTYPE html>
<html>
  <head>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome User</h1>
    <p>your selected item details</p>
    <ol>
      <li>ITEM : <%=itemname %></li>
      <li>PRICE : <%=itemprice%></li>
      <li>DATE :<%= date %> </li>
     

    </ol>
  </body>
</html>
